.album, .slick-slider {
	margin: 0 auto;
	max-width: 1000px;
	width: 90%;
	position: relative;

	.slick-slide {
		height: 450px;
		margin: 0 5px;
		width: auto;

		img {
			height: 100%;
		}
	}

	.slick-current {
		margin: 0 10px;
	}

	.slick-arrow {
		background-color: $color1;
		border-radius: 50%;

		&:hover {
			background-color: $color3;
		}

		&:focus {
			background-color: $color3;
		}
	}
}