.heart {
  height: 50px;
  position: absolute;
  left: 190px;
}

#cake {
  position: absolute;
  top: 550px;
  left: 120px;
  height: 180px;
}

#heart-one {
  top: 530px;
}

#heart-two {
  top: 510px;
  left: 140px;
  display: none;
}

#heart-three {
  top: 490px;
  display: none;
}
