// Colors
$color1: #7e191d;
$color2: #69331b;
$color3: #BD5936;
$color4: #ffffff;
$color5: #29F85A;

$bg: mix($color2, #DBDBDB);

$black: #000000;

$fb: #3b5998;
$tw: #00aced;
$ig: #4c68d7;
$gp: #d34836;

// Fonts
$primary-font: 'Caveat', cursive;
$secondary-font: 'Open Sans', sans-serif;
